<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>
<body>
    <form action="{% url 'uploadfile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{form.file_name.id_for_label}}">File Name</label>
            {{form.file_name}}
        </div>
        <div class="form-group">
            <label for="{{form.files_data.id_for_label}}">File Name</label>
            {{form.files_data}}
        </div>
    <button type="submit" class="submit" id="submit">Save</button>  
        <br>
    <button><a href="http://127.0.0.1:8000/logout/">Logout</a></button>
    </form>
</body>
{% if status %}
    <script>
        alert("{{status}}")
    </script>
{% endif %}
</html>